.images_wrap img{
	width: 100%;
	height: auto;
	display: block;
}
.wrap_svl{
	position: relative;
	float: left;
	border: 1px solid #000;
}
.wrap_svl:after{
	content: "";
	display: table;
	clear: both;
}
.drag_element {
	position: absolute;
	top: 0;
	left: 0;
	cursor: move;
	min-width: 1px;
    min-height: 1px;
}
.icon_wrap{
	display: block;
	width: 100%;	
	margin: 10px 0 0 0;
	background: #ccc;
    text-align: center;
    padding: 10px;
}
.icon_wrap img {
    max-width: 100%;
    height: auto;
}
.point_style{
	position: relative;
    z-index: 10;
    display: block;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    box-sizing: border-box;
    text-align: center;
}
.point_style img{
	position: absolute;
	top: 0;
	left: 0;
}
@-moz-keyframes Ani {
    0% {
        box-shadow: 0 0 0 rgba(255,255,255,0);
        border: 1px solid rgba(255,255,255,0);
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    70% {
        box-shadow: 0 0 50px #fff;
        border: 1px solid #fff;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    100% {
        box-shadow: 0 0 60px rgba(255,255,255,0);
        border: 0 solid rgba(255,255,255,0);
        -webkit-transform: scale(1.5);
        transform: scale(1.5)
    }
}
@-webkit-keyframes Ani {
    0% {
        box-shadow: 0 0 0 rgba(255,255,255,0);
        border: 1px solid rgba(255,255,255,0);
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    70% {
        box-shadow: 0 0 50px #fff;
        border: 1px solid #fff;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    100% {
        box-shadow: 0 0 60px rgba(255,255,255,0);
        border: 0 solid rgba(255,255,255,0);
        -webkit-transform: scale(1.5);
        transform: scale(1.5)
    }
}

@keyframes Ani {
    0% {
        box-shadow: 0 0 0 rgba(255,255,255,0);
        border: 1px solid rgba(255,255,255,0);
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    70% {
        box-shadow: 0 0 50px #fff;
        border: 1px solid #fff;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    100% {
        box-shadow: 0 0 60px rgba(255,255,255,0);
        border: 0 solid rgba(255,255,255,0);
        -webkit-transform: scale(1.5);
        transform: scale(1.5)
    }
}
.point_style a {
    display: block;
    line-height: 0;
}
.media-modal {
    z-index: 16000000 !important;
}
.button_done input {
    width: auto;
    margin: 0px 0 0px 10px !important;
}
.button_done {
    text-align: center;
    margin: 20px 0 0 0;
}
input.shortcodemap {
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #eee;
    width: 100%;
    padding: 10px;
}
.svl-table {
    border: #DFDFDF solid 1px;
    background: #fff;
    border-spacing: 0;
    border-radius: 0;
    table-layout: auto;
    padding: 0;
    margin: 0;
    width: 100%;
    clear: both;
}
.svl-table td.svl-label {
    background: #F9F9F9;
    border-bottom: 1px solid #F0F0F0;
    width: 24%;
    padding: 10px 15px;
    font-weight: 700;
}
.svl-table td.svl-input {
    border-bottom: 1px solid #F0F0F0;
    padding: 10px 15px;
    vertical-align: middle;
}
.has-image .hidden-has-value,
.view-has-value {
    display: none !important;
}
.has-image .view-has-value{
	display: inline-block !important;
}
.view-has-value {
    position: relative;
    float: left;
}
a.svl-delete-image {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.62);
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    line-height: 22px;
    display: block;
    text-decoration: none;
    font-size: 20px;
    display: none;
}
.view-has-value:hover a.svl-delete-image{
	display: block;
}
table.svl-table tr:last-child td {
    border-bottom: 0;
}
.svl-control:after,
.svl-image-wrap:after{
	display: table;
	content: "";
	clear: both;
}
.svl-image-wrap {
    margin: 20px 0 0 0;
}
input#meta-image-button {
    float: left;
    margin: 0 10px 0 0;
}
.svl-control {
    margin: 0 0 20px 0;
}
.pins-position-wrap label {
    width: 33.33%;
    display: block;
    float: left;
    margin: 0 0 10px;
}
.pins-position-wrap label:nth-child(3n+1){
	clear: both;
}
.pins-position-wrap input[type="number"] {
    width: 60px;
}
.svl-upload-image:after {
    content: "";
    display: table;
    clear: both;
}
img.image_view {
    max-width: 100%;
}
.mce-widget.mce-fullscreen {
    display: none !important;
}
.svl-control .spinner {
    float: none;
    display: inline-block;
}
.svl-control.adding_point .spinner {
    visibility: visible;
}
div#misc-publishing-actions #visibility {
    display: none;
}
.wp-core-ui .button.button-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.wp-core-ui .button.button-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}